.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
node_modules
.npm-debug.log
tmp
.sass-cache
*.css.map
platforms/ios/Millennium\ Book\ Viewer.xcodeproj/project.xcworkspace/xcuserdata/webdev.xcuserdatad/UserInterfaceState.xcuserstate
/nbproject/private/