/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: SourceSansPro;
    src: url("../fonts/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro;
    font-weight: lighter;
    src: url("../fonts/SourceSansPro-Light.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro;
    font-weight: bold;
    src: url("../fonts/SourceSansPro-Bold.otf") format("opentype");
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
 
    background-image: url("../images/background-01.svg");
    background-attachment: fixed;
    background-position: top center;
    background-repeat: repeat;
    background-size: 12px 12px;
    /*font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
    font-family:'SourceSansPro', Helvetica, Arial, sans-serif;
    
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

a {
    text-decoration: none;
    text-decoration-color: #fff;
    color: #fff;
    display: block;
}

h1 {
    margin-bottom: 0px;
    font-family:'SourceSansPro', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

h2 {
    margin-bottom: 0px;
    font-family:'SourceSansPro', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-overflow: ellipsis;
}

p {
    font-family:'SourceSansPro-Light','SourceSansPro', Helvetica, Arial, sans-serif;
}

/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.headerwithnav {
    height: 44pt;
    background-color: #e9e9e9;
    color: #333;
    text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #eee /*{a-bar-shadow-color}*/;
    font-weight: bold;
}

#navleft, #navright, #navcenter {
    float: left;
    position: relative;
    height: 100%;
}

#navleft:active, #navright:active {
    background-color: #d2d2d2;
}

#navleft, #navright {
    width: 20%;   
}

#navleft_icon, #navleft_title, #navright_icon {
    float: left;
}

#navleft_icon {
    margin-right: 5px;
}

#navcenter {
    width: 60%;
}

#navcenter_wrapper {
    position: absolute;
    bottom: 1em;
}

#navleft_wrapper, #navright_wrapper {
    position: absolute;
    bottom: 1.35em;
}

#navleft_wrapper {
    left: 15px;
}

#navleft_wrapper a, #navleft_title a, #navleft a {
    color: #373737;
}

#navleft a {
    height: 100%;   
}

#navright_wrapper {
    right: 15px;   
}

#navcenter_wrapper {
    width:100%;
}

#navcenter_title {
    height: 22pt;
    text-overflow: ellipsis;
}

.millenniumFooter {
    background-image: url("../images/barbackground2.jpg");
    background-repeat: repeat-x;
    background-size: contain;
    height: 44pt;
    text-align: center;
    
}

.headimage {
    height: 26px;;
    /*padding: 10pt 0;*/
}

.footImage {
    height: 32pt;
    padding: 10px 0px;
}

.centered {
    text-align: center;
}

.forswipe {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10pt 0;
}

.swiper-slide a, 
.swiper-slide a:visited,
.swiper-slide a:hover,
.swiper-slide a:active {
    color: #fff;
}

.thumbs {
    padding: 10px;
}

.thumbswiper-notbroadsheet {
    width: 100%;
}

.thumbswiper-broadsheet {
    width: 100%;  
}

#chooser-popup {
    right: 0 !important;
    left: auto !important;
}
#chooser {
    display: none;
    /*width: 200pt;
    /*border: 1px solid rgba(0,0,0,.2);
    border-right: none;
    background: #3d3d3d;
    margin: -1px 0;
    color: #131313;
    text-shadow: none;
    padding: 0;
    overflow-y: hidden;
    display: none;*/

    
}*/
/*#chooser .ui-btn {
    margin: 2em 15px;
    padding: .7em 0em;
    border-width: 0;
    background: rgba(255,255,255,0);
}*/



#chooser ul {
    list-style-type: none;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding: 0;
}

#chooser li {
    color:#121222;
}

.chooserhead {
    width: 100%;
    height: 44pt;
   /*background-color: #3d3d3d;*/
    color: white;
    
}




/*#chooser li a {
    display: block;
    width: 100%;
}*/

.nopad {
 padding: 0;   
}

.tiny {
    font-size: .6em;
    color: white;
    /*text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ 	#000 /*{a-bar-shadow-color}*/;
    padding: 10pt 8pt;
}

.arrow-left {
  background: url(../images/arrow_left_grey.png) no-repeat left top;
  position: absolute;
    background-size: contain;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
.arrow-right {
  background: url(../images/arrow_right_grey.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
    background-size: contain;
}
.devicewrap {
    width: 300px;
    margin-bottom: 22pt;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#printwrap {
    margin-top: 44pt;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.device {
    width:100%;
    position: relative;
}

.tv {
    background: url(../images/events/tvblank_296.png);
    width: 296px;
    height: 200px;
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
    clear: left;
}

.titleinfo {
    padding-bottom: 12px;
    padding-top: 2px
}

#pagetitle {
    padding-bottom: 12px;   
}

#navcenter_title h2 {
    font-size: 1.5em;
    line-height: 22pt;
}

#instructions, {
    margin-top: 2em;
    padding: 0 16px;
}

#instructions p, #credits p {
    line-height: 1.6;
}

#credits p {
    font-size: 14pt;
}

#panellinks {
    margin-top: 20pt;
}

.textblock {
    margin: 1em
}


#login_wrapper, #groupselect_wrapper {
    background-color: rgba(255, 255, 255, .8);
    max-width: 300px;
    height: 440px;
    margin-top: 44pt;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 15px;
    padding: 0;
    padding-top: 10px;
    position: relative;
}

#login_wrapper input {
    height: 45px;
}

#login_title {
    padding-bottom: 10px;
}

#login_form {
    width: 280px;
    margin: 10px;
}

#login_btn, #logout_btn{
    background-color: rgb(35, 111, 174);
    color: white;
    text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #373737 /*{a-bup-shadow-color}*/;
    height: 45px;
    border-color:	 		#ddd /*{a-bup-border}*/;
    text-align: center;
    border-radius: .3125em;
    font-size: 1.5em;
	line-height: 45px;
	/*font-family: sans-serif /*{global-font-family}*/;
    font-family:'SourceSansPro', Helvetica, Arial, sans-serif;
    border-width: 1px;
    border-style: solid;
}

#logout_btn {
    width: 93%;
    margin: 10px;
    position: absolute;
    bottom: 70px;
}

#chooser #logout_btn {
    margin: 0;
    bottom 10px; 
}

#login_btn:active, #logout_btn:active {
    background-color:#373737;
}

#login_bottom {
    position: absolute;
    bottom: 10px;
    left: 126px;
}

.uiblock {
    height: 90px;
}

#groupselect_wrapper p {
    color: #373737;
    text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #fff /*{a-bup-shadow-color}*/;
}

#groupselect_data {
    height: 270px;
}

.selectimg {
    margin: auto;
    width: 90px;
    height: 90px;
}

#eventselectwrapper { 
    width:100%;
    padding: 0px;
}

#quarterwrapper {
    padding: 0px;
}

#quarternav {
    margin: auto;
    padding: 0;
    margin-bottom: 16px;
}

.onethird {
    width: 33%;
    float: left;
}

.onethird img {
    width: 95%;
    margin: auto;
}

.onethirdcaption {
    width: max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    height: 3.6em;
    line-height: 1.4em;
    padding: 10px;
    text-align: center;
}

.ui-popup > .ui-btn-right {
    top: 11px;
    right: 11px;
}

.ui-popup > img.popphoto {
    width: 100%;
    max-height: 1000%;
    position: relative;
}

.eventicon:active {
    opacity: .5;
}
